.table-title {
    color: rgb(53, 147, 175);
}

body {
    background-image: url("../images/flower.jpg");
}

table {
    background-color: #F3F3F5;
}

th {
    background-color: rgb(247, 228, 108);
    font-weight: bold;
}